* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: lighter;
    font-size: 2vh;
}

body {
    width: 100vw;
    height: 100vh;
}

.top {
    width: 100vw;
    height: 6.67vh;
    color: #ffffff;
    background-color: rgb(115, 190, 204);

}

.back {
    float: left;
    text-align: left;
    margin-left: 10px;
    line-height: 6.67vh;
    font-weight: bold;
}

.title {
    text-align: center;
    line-height: 6.67vh;
}

.photo {
    width: 100vw;
    height: 26.67vh;
    background-image: url("../image/background.png");
    background-size: cover;
    color: #ffffff;
}

.info {
    float: left;
    vertical-align: bottom;
    width: fit-content;
    height: 10vh;
    margin: 10.33vh 30px 6.33vh 0;
}

.image {
    float: left;
    height: 14vh;
    margin: 6.33vh 30px 6.33vh 30px;
}

.name, .age, .loc, .addr {
    display: inline;
    font-size: 3vh;
    padding-bottom: 2%;
}

.loc {
    width: 2vh;
    padding-top: 2vh;
}

.addr {
    font-size: 1vh;
}

.c1 {
    height: 8vh;
    width: 100vw;
    line-height: 8vh;
    border-bottom: solid 1px rgb(226, 239, 231);

}
.c1 span{
    color: black;
    font-weight: normal;
    padding-left: 25px;
    font-size: 2.5vh;

}

.c2 {
    height: 8vh;
    width: 100vw;
    line-height: 8vh;
    border-bottom: solid 1px rgb(226, 239, 231);
    color: black;
    font-weight: normal;
    /*overflow: scroll;*/
}

.word_1 {
    float: left;
    color: rgb(167, 167, 167);
    padding-left: 30px;
}

.line {
    float: left;
    height: 4vh;
    margin: 2vh 3vh 2vh 3vh;
}

.word_2 {
    float: left;
}

.star_1, .star_2 {
    float: left;
    height: 2vh;
    width: 2vh;
    margin: 3vh 5px 3vh 0;
}

.star_1 {
    margin-left: 30px;
}

.c3 {
    display: inline-block;
    width: 100vw;
    line-height: 8vh;
    border-bottom: solid 1px rgb(226, 239, 231);
    color: black;
    font-weight: normal;
}
.line3 {
    float: left;
    height: 50%;
    margin: 25% 3vh 25% 3vh;
}
.word_3 {
    width: 65vw;
    display: inline-block;
    float: left;
    line-height: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.bottom {
    width: 100vw;
    height: 13.33vh;
}

.liuyan {
    width: 40vw;
    height: 7vh;
    color: rgb(115, 190, 204);
    background-color: white;
    border: solid 1px rgb(115, 190, 204);
    border-radius: 1vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4vh;
}

.tel {
    float: right;
    width: 40vw;
    height: 7vh;
    color: white;
    background-color: rgb(115, 190, 204);
    border: solid 1px rgb(115, 190, 204);
    border-radius: 1vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4vh;

}